<div class="title center">
  <h1>1+1</h1>
</div>
<div class="major-heading center">
  <div class="heading-text">
    <h2>People</h2>
  </div>
  <button type="button" class="btn edit btn-default" data-bind="visible: peopleNotEdit, click: togglePeopleEdit">Edit</button>
  <button type="button" class="btn edit btn-orange" data-bind="visible: peopleEdit, click: togglePeopleEdit">Stop</button>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row heading">
      <div class="col-xs-6"><h2>Name</h2></div>
      <div class="col-xs-6"><h2>Email</h2></div>
    </div>
  </div>
  <div class="container">
    <div class="row new-person" data-bind="visible: peopleEdit">
      <div class="col-xs-6">
        <input class="form-control" data-bind="value: newName" type="text" placeholder="John Smith"/>
      </div>
      <div class="col-xs-6 col-sm-4">
        <input class="form-control" data-bind="value: newEmail" type="text" placeholder="jsmith@somesite.com"/>
      </div>
      <div class="col-sm-2">
        <button type="button" data-bind="click: createPerson" class="btn btn-orange btn-block mini"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
    <!-- ko foreach: people -->
    <div class="row">
      <div class="col-xs-6">
        <button type="button" data-bind="click: $parent.deletePerson, visible: $parent.peopleEdit" class="btn left-btn btn-orange btn-block mini"><span class="glyphicon glyphicon-remove"></span></button>
        <div data-bind="text:name"></div>
      </div>
      <div class="col-xs-6" data-bind="text:email"></div>
    </div>
    <!-- /ko -->
  </div>
</div>

<div class="major-heading center">
  <div class="heading-text">
    <h2>Teams</h2>
  </div>
  <button type="button" class="btn edit btn-default" data-bind="visible: teamsNotEdit, click: toggleTeamsEdit">Edit</button>
  <button type="button" class="btn edit btn-orange" data-bind="visible: teamsEdit, click: toggleTeamsEdit">Stop</button>
</div>
<div class="container">
  <div class="row new-team" data-bind="visible: teamsEdit">
    <div class="col-sm-2">
      New Team:
    </div>
    <div class="col-xs-11 col-sm-9">
      <input class="form-control" data-bind="value: newTeamName" type="text" placeholder="Engineering"/>
    </div>
    <div class="col-xs-1">
      <button type="button" class="btn btn-orange btn-block mini" data-bind="click: createTeam"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
  </div>
</div>

<!-- ko foreach: teams -->
<div class="jumbotron">
  <div class="container">
    <div class="minor-heading row">
      <div class="col-xs-12">
        <button type="button" data-bind="click: $parent.deleteTeam, visible: $root.teamsEdit" class="btn left-btn btn-orange btn-block mini">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <h2 data-bind="text: name"></h2>
      </div>
    </div>
  </div>
  <div class="container newMember" data-bind="visible: $root.teamsEdit">
    <div class="col-sm-6 col-md-4">
      <button type="button" class="btn btn-orange left-btn btn-block mini" data-bind="click: add"><span class="glyphicon glyphicon-plus"></span></button>
      <div>
        <select data-bind="options: options, value: newMember, optionsText: 'listing'"></select>
      </div>
    </div>
  </div>
  <div class="container" data-bind="foreach: people">
    <div class="col-sm-6 col-md-4">
      <button type="button" data-bind="click: $parent.remove, visible: $root.teamsEdit" class="btn left-btn btn-orange btn-block mini">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <div data-bind="text:listing"></div>
    </div>
  </div>
</div>
<!-- /ko -->
