h3 {
  padding-left: 10px;
}

.jumbotron {
  margin-bottom:0;
}

.clickable-heading {
  border-top: 1px solid white;
  h1 {
    margin: 0;
  }
  margin:0;
  padding: 10px;
  color: white;
  background-color: black;
}

input {
  width: 100%;
}
button {
  width: 100%;
}
